{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Management</title>
        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
            />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0&icon_names=person" />
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}" />
<body>
<div>
    {% include "app/navbar.html" %} 
    <h1>Student Management System</h1>
    {% block content %}

    {% endblock %}
</div>
</body>
</html>