{% extends 'app/base.html' %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        
        <label for="">Username</label>
        <input type="text" name="username" placeholder="Username">

        <label for="">Passsword</label>
        <input type="password" name="password" placeholder="Password">
        
        <input type="submit" value="Login">
    </form>
</div>
{% endblock content %}