{% extends 'app/base.html' %}
{% block content %}
<h2>Subjects for {{ student.name }}</h2>

<ul>
  {% for subject in object_list %}
    <li>
      {{ subject.name }}
      [<a href="{% url 'subject_edit' subject.pk %}">Edit</a>]
      [<a href="{% url 'subject_delete' subject.pk %}">Delete</a>]
    </li>
  {% empty %}
    <li>No subjects found for this student.</li>
  {% endfor %}
</ul>

<a href="{% url 'subject_add' student.id %}">➕ Add Subject</a>
<br>
<a href="{% url 'student_list' %}">⬅ Back to Students</a>
{% endblock %}