{% extends 'app/base.html' %}
{% block content %}
<h3>Subjects for {{ view.get_queryset.0.student.name }}</h3>
<ul>
    {% for subject in object_list %}
        <li>
            {{ subject.name }}
            {% if subject.grades.first %}
                <a href="{% url 'grade_detail' subject.grades.first.pk %}" class="btn btn-sm btn-outline-info float-end">View Grades</a>
            {% else %}
                <a href="{% url 'grade_create' %}?subject_id={{ subject.pk }}" class="btn btn-sm btn-outline-success float-end">Add Grades</a>
            {% endif %}
        </li>
    {% empty %}
        <li>No subjects available.</li>
    {% endfor %}
</ul>
{% endblock %}